<table class="table tournament tablesorter">
  <caption><strong>Таблица результатов</strong></caption>
  <thead>
    <tr>
      <th class="player">№</th>
      <th class="name">Участник</th>
      <th class="elo">elo*</th>
      <%- Player.count.times do |place| -%>
      <th class="score" colspan="<%= Tournament.rounds %>"><%= place + 1 %></th>
      <%- end -%>
      <th class="games">Игры</th>
      <th class="points">Очки</th>
      <th class="berger">Бергер</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="<%= Player.count * Tournament.rounds + 6 %>">* Средний elo на начало турнира</td>
    </tr>
  </tfoot>
  <tbody>
    <%- Tournament.players.each_with_index do |player, place| -%>
    <tr>
      <td class="player"><%= place + 1 %></td>
      <td class="name"><strong><%= player.name %></strong></td>
      <td class="elo"><%= player.elo %></td>
      <%- Tournament.players.each_with_index do |opponent, index| -%>
        <%- unless place == index -%>
          <%- games = Game.find_all_by_players Set.new([player.id, opponent.id]) -%>
          <%- games.each do |game| -%>
      <td class="score"><%= Utils.symbolize_frac(game.score player.id) %></td>
          <%- end -%>
        <%- else -%>
          <%- Tournament.rounds.times do |round| -%>
      <td class="diagonal"></td>
          <%- end -%>
        <%- end -%>
      <%- end -%>
      <td class="games"><%= player.games %></td>
      <td class="points"><%= Utils.symbolize_frac player.points %></td>
      <td class="berger"><%= player.berger %></td>
    </tr>
    <%- end -%>
  </tbody>
</table>
